:host {
  /* display: flex; */
  /* flex-direction: column; */
  flex-grow: 1;
  /* gap: clamp(2rem, 5vh, 4rem); */
  padding-block: 3rem;
  position: relative;
  box-sizing: content-box;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% + 3rem);
}

app-scoreboard {
  display: flex;
  justify-content: center;
}

app-game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

app-rules {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .game-container {
    padding-bottom: 1rem;
    height: 100%;
  }
}
