:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  position: relative;
}

app-game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}