:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: clamp(2rem, 5vh, 4rem);
  padding-top: 2rem;
  position: relative;
  box-sizing: content-box;
}

app-scoreboard {
  display: flex;
  justify-content: center;
}

app-game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

app-rules {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  :host {
    justify-content: space-between;
    padding-bottom: 4rem;
  }
}
