:root {
  --tomato: hsla(4, 100%, 67%, 0.708);
  --darkSlateGrey: hsl(234, 29%, 20%);
  --charcoalGrey: hsl(235, 18%, 26%);
  --gray: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

.attribution {
  font-family: monospace, "Courier New";
  font-size: 11px;
  font-weight: 700;
  color: white;
  margin-inline: auto;
  -webkit-user-select: none;
  user-select: none;

  a:first-child {
    text-decoration: none;
    color: rgb(2, 48, 255);
  }

  a:last-child {
    text-decoration: none;
    color: red;
  }
}
